<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>CMS dashboard</title>
</head>
<body>
    <main>
        <aside>
            <div id="logo"></div>
           
                <ul>
                    <li>
                        <a href="/">
                            <img src="/assets/img/dashboard.svg" alt="dashboard icon">
                            <div class="nav-item-text">Dashboard</div>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/about">
                            <img src="/assets/img/about.svg" alt="about icon">
                            <div class="nav-item-text">About</div>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/contacts">
                            <img src="/assets/img/contacts.svg" alt="contacts icon">
                            <div class="nav-item-text">Contacts</div>
                        </a>
                    </li>
                    <li>
                        <a href="/new-contact">
                            <img src="/assets/img/new-contact.svg" alt="new-contact icon">
                            <div class="nav-item-text">Add new contact</div>
                        </a>
                    </li>
                    <li>
                        <a href="/new-user">
                            <img src="/assets/img/new-contact.svg" alt="new-contact icon">
                            <div class="nav-item-text">Add new User</div>
                        </a>
                    </li>
                </ul>
                
         
        </aside>
