<%- include('./partials/header.ejs') %>    
<div class="create-blog content">
    
    <form action="/new-user" method="POST">
      
        <input type="text"  id="fname" name="firstName" placeholder="First Name:">
        <input type="tel"   id="phone" name="phone"   placeholder="Phone:">
        <input type="email" id="phone" name="email" placeholder="Email:">
        
        <button>Submit</button>
    </form>
    
</div>

</main>
<%- include('./partials/footer.ejs') %>    
