<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% students.forEach( st => { %>
        <div class="student" data-stid="<%= st.id%>">
            <span><%= st.name%></span><span><%= st.email%></span>
            <a data-stid="<%= st.id%>" class="delete-user">Delete User</a>
        </div>
    <%})%>

    <script>
        const deletes = document.querySelectorAll('a.delete-user')
        deletes.forEach( a => {
            a.addEventListener('click', (e) => {
                
                const stid = e.target.dataset.stid
                const endpoint = `/students/${stid}`
                fetch(endpoint, {method: 'DELETE',})
                .then( d =>{
                    d.json().then( d => {
                        window.location.href = d.location
                    })
                } )
            })
        })



    </script>
</body>
</html>